body{
  margin:0px;
  @import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
font-family: 'Noto Sans TC',sans-serif;
}

.header{
  width:100%;
  height:150px;
  background-image:url("https://images.unsplash.com/photo-1446776811953-b23d57bd21aa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80");
 background-size:cover;
 background-position:left;
}

.icon{
  height:80px;
  width:80px;
  border-radius:4px;
}

.aboutme{
  flex:1;
  padding:20px;
  padding-top:50px;
}

.email{
  color:#aaa;
}

.contentContainer{
  display:flex;
  flex-direction:row;
  padding-bottom:30px;
}

aboutme{
  flex:1;
  padding:20px;
  padding-top:50px;
}

.resume{
  flex:6;
  padding-top:80px;
}

.title{
  font-size:25px;
  font-weight:bold;
  padding:10px;
}

.context{
  width:600px;
  padding-left:40px;
}

.paragraph{
  padding-top:40px;
}

.description{
  line-height:2;
  color:black;
}

.title:hover{
  animation-name:move;
  animation-duration:2s;
  animation-timing-function:linear;
}

@keyframes move {
  0%{
    margin-left:0px;
  }
  100%{
    margin-left:50px;
  }
}

@media screen and (max-width:800px){
  
  .contentContainer{
    flex-direction: column;
    padding-bottom:120px;
  }
  
  .aboutme{
    display:flex;
    padding-left:40px;
  }
  
  .resume{
  padding:0px;
}
  
  
.icon{
  height:50px;
  width:50px;}
  
  .name{
    padding-left:15px;
    padding-top:20px;
    font-weight:bold;
  }
   
  .email{
    display:none;
  }
  
  .context{
  width:80%;
  padding:20px 50px;
  overflow:scroll;
}
}